body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#main-div{
    height: 95vh;
    border-style: solid;
}

#janela-consulta{
    height: 50%;
    border-style: solid;
}